<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.bitcoin.mapper.coinmapper">

 <select id="getUser" resultType="com.example.bitcoin.dto.MemberVO">
 	select * from member
 	where id = #{id}

 </select>

 <select id ="findById" parameterType="String" resultType="com.example.bitcoin.dto.MemberVO">

 	 SELECT id, password, role
 	   from member
 	  where id = #{userId}


 </select>

	<select id="getCode" parameterType="String" resultType="com.example.bitcoin.dto.MemberVO">

		SELECT *
		  FROM member
		where id = #{id}

	</select>

  <update id="saveCode" parameterType="String">

  		update member
  		  set accessCode= #{accessCode},
  		  	  secretCode= #{secretCode}
  		  where id = #{id}

  </update>

  <select id="getList" resultType="com.example.bitcoin.dto.BoardVO">

		SELECT *
		 from board
		order by seq
			offset 0 rows
    		fetch next 10 rows only
	</select>


</mapper>