<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>코인토론방</title>

	 <style>

		#wrap-board2{

		}

    </style>

</head>
<body id="wrap-board2">

<div id="header"></div>


<h1 style="margin-top:150px; text-align:center;">토론방(자유게시판)</h1>

<div id="write" >
	<button id="loginBtn" type="button" >로그인</button>
	<p >로그인 하셔야 글을 남기실 수 있습니다.</p>
	<p > &nbsp; 회원가입이 필요하신 분은 밑에 참고 하셔서 연락 주시면 됩니다.</p>
    <table >
        <thead >
        <tr >
            <th>번호</th>
            <th>제목</th>
            <th>글쓴이</th>
            <th>일시</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody id="Tb" >

        </tbody>
    </table>

</div>
<div id="footer"></div>

<script>




    function Board(seq, title, writer, writeDate, viewCount) {
        this.seq = seq;
        this.title = title;
        this.writer = writer;
        this.writeDate = writeDate;
        this.viewCount = viewCount;

    }


    function refreshTable() {

        var tbody = $('#Tb');
        tbody.empty();

        $.each(board, function (i, item) {


            var row = $('<tr>');

            var td1 = $('<td class="center">').text(item.seq);
            row.append(td1);

            var td2 = $('<td class="center">');
            var link = $('<a>').attr('href', '#').text(item.title);
            td2.append(link);
            row.append(td2);

            var td3 = $('<td class="center">').text(item.writer);
            row.append(td3);

            var td4 = $('<td class="center">').text(item.writeDate);
            row.append(td4);

            var td5 = $('<td class="center">').text(item.viewCount);
            row.append(td5);

            tbody.append(row);

            link.on('click', function (event) {
              event.preventDefault();
                // 여기에서 seq 값을 이용하여 상세 페이지로 이동하도록 구현
				//consolo.log("조회수 증가!!!!")
                var board = {
				 	seq : item.seq }

                $.ajax({
					url:"/updateView",
					type:"POST",
					data:JSON.stringify(board),
					dataType:"json",
					contentType:"application/json",
					success:function(result){

					}


				})

				 var responseData = {seq: item.seq};

                localStorage.setItem('seq', JSON.stringify(responseData));

                window.location.href = "/boardDetail2";

            });


        })
    }

    $.ajax({
        url: "/boardListAjax",
        Type: "GET",
        dataType: "json",
        contentType: "application/json",
        success: function (result) {

            board = result;

            refreshTable();
        }
    })


     $('#loginBtn').on('click',function(){

		    	window.location.href= "/login";

		    })

	/* var username = '[[${user}]]';

    if(username != ''){
		var btn = $('<button id="writeBtn" type="button" class="btn-gradient green" style="float:right;">글쓰기</button>')
		$('#write').append(btn)

		 $('#writeBtn').on('click',function(){

		    	window.location.href= "/boardwrite";

		    })


    } */




</script>
</body>
</html>