<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        footer{
            position: absolute;
            bottom:0px;
            text-align: center;
        }

    </style>
</head>
<body>
  <footer style="background-color:floralwhite; width:3500px;">
      <nav>
          <a href="https://www.instagram.com/codesabu?igsh=MjJxNHlsYW9yYmZj&utm_source=qr" style="font-weight: bold; ">&emsp;인스타&emsp;</a>
          <a href="https://kmong.com/gig/554066" style="font-weight: bold;">&emsp;크몽</a>
      </nav>
      <p style="">
          <span>관리자( 인스타 : codesabu / 크몽 : 코딩사랑 )  요쪽으로 문의 주시면 됩니다.</span>
      </p>

  </footer>
</body>
</html>