<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

   	<style>



        table.type01 {
            border-collapse: collapse;
            text-align: left;
            line-height: 1.5;
            margin : 20px 10px;
        }
        table.type01 th {
            width: 150px;
            padding: 10px;
            font-weight: bold;
            vertical-align: top;
            border: 1px solid #ccc;
        }
        table.type01 td {
            width: 350px;
            padding: 10px;
            vertical-align: top;
            border: 1px solid #ccc;
        }
  /* * {

   	padding: 0;
   	margin: 0;
   	max-width: 100%;
   	overflow-x: hidden;
   	position:relative;
   	display: block;


   }*/

   	</style>

</head>
<body>


<h2></h2>




  <table width="100%" style="border:none">
    <tr>
      <td colspan="2" style="background-color:lightgrey">

      <img src="bitcoin.jpg" alt="예제 이미지" width="100" height="100">
          <h2>메뉴</h2>
          <p id="userid"><span th:text="${user}"></span>님 환영합니다.</p>

		<form id="logoutForm" action="/logout" method="post">
		  <button type="submit">로그아웃</button>
		</form>




      </td>
    </tr>
    <tr>
      <td style="background-color:#339999; color:white; width:20%">
        <h2>api 코드</h2>
          <label for="access">access :</label>
          <input id="access" type="text"/><br/>
          <label for="secret">secret :</label>
          <input id="secret" type="text" style="margin-left:4px;"/>
          <button type="button" id = "accountBtn" >잔고 조회</button>
      </td>
      <td style="height:200px; text-align:left">
        <p>my 잔고</p>



          <table class="type01">
              <thead>
              <tr>
                  <th scope="row">코인</th>
                  <th scope="row">수량</th>

              </tr>
              </thead>
              <tbody id="Tb">

              </tbody>
          </table>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="background-color:#FFCC00">
        <h2>FOOTER 영역</h2>
      </td>
    </tr>
  </table>

    <script>
        var username = '[[${user}]]';
        console.log(username);

        var userid = {
            id : username
        }


        $.ajax({
            url:"/code",
            type: "POST",
            data:JSON.stringify(userid),
            dataType:"json",
            contentType:"application/json",
            success:function(result){
                console.log(result);
            }

        })



        var tbody = $('#Tb');

        function account(currency,balance) {
            this.currency = currency;
            this.balance = balance;
        }
        $(document).ready(function(){

        })


       $('#accountBtn').on('click',function() {

           var accessCode = $('#access').val();
           var secretCode = $('#secret').val();

           var account = {
               accessCode: accessCode,
               secretCode: secretCode
           }



           $.ajax({
               url: "/account",
               type: "POST",
               data: JSON.stringify(account),
               contentType: "application/json",
               dataType: "json",
               success: function (result) {
                   console.log(result);

                   $.each(result,function(i,item){

                       var row = $('<tr>');

                       var td1 = $('<td class="center">').text(item.currency);
                       row.append(td1);

                       var td2 = $('<td class="center">').text(item.balance);

                       row.append(td2);


                       tbody.append(row);

                       }

                   )
                   /*let account2 = {
                       currency : result[0].currency,
                       balance : result[0].balance
                   }*/

                   //refreshTable(account2);
               }


               })
           })


        function refreshTable(account2) {

            tbody.empty();


            $.each(account2, function (i, item) {

                var row = $('<tr>');

                var td1 = $('<td class="center">').text(item.currency);
                row.append(td1);

                var td2 = $('<td class="center">').text(item.balance);

                row.append(td2);


                tbody.append(row);

            })

       }



    </script>

</body>
</html>