<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      			layout:decorate="~{layouts/layout}"">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	<style>


	</style>

</head>
<body style="background-color:white;">


	<div id="header"></div>






  <table width="100%" style="border:none">
    <tr>
      <td colspan="2" style="background-color:white; ">

          <p id="userid" style="margin-top:100px;"><span th:text="${user}" style="font-weight:bold;"></span>님 환영합니다.</p>

		<form id="logoutForm" action="/logout" method="post">
		  <button type="submit">로그아웃</button>
		</form>




      </td>
    </tr>
    <tr>
      <td style="background-color:#339999; color:white; width:20%">
        <h2>업비트 api 코드</h2>
        <button type="button" id = "accountBtn" class="btn btn-primary" style="float:right;">잔고 조회</button>
        <button type="button" id = "accountSaveBtn" class="btn btn-primary" style="float:right;">코드 저장</button><br/>
          <label for="access">access</label><br/><br/>
          <input id="access" type="text"/><br/><br/>
          <label for="secret">secret</label><br/><br/>
          <input id="secret" type="text" style="margin-left:4px;"/>

      </td>
      <td style="height:200px; text-align:left">
        <p>my 잔고</p>



          <table class="type01">
              <thead>
              <tr>
                  <th scope="row">코인</th>
                  <th scope="row">수량</th>

              </tr>
              </thead>
              <tbody id="Tb">

              </tbody>
          </table>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="background-color:#FFCC00">
        <h2>FOOTER 영역</h2>
      </td>
    </tr>
  </table>

    <script>

   	$('#header').load('header.html')




        var username = '[[${user}]]';
        console.log(username);

        var userid = {
            id : username
        }


        $.ajax({
            url:"/getCode",
            type: "POST",
            data:JSON.stringify(userid),
            dataType:"json",
            contentType:"application/json",
            success:function(result){
                $('#access').val(result[0].accessCode);
                var a = $('#access').val();
                 $('#secret').val(result[0].secretCode)
                var b = $('#secret').val();


            }

        })




        var tbody = $('#Tb');

        function account(currency,balance) {
            this.currency = currency;
            this.balance = balance;
        }
        $(document).ready(function(){

        })


           $('#accountBtn').on('click',function() {

               var accessCode = $('#access').val();
               var secretCode = $('#secret').val();
               var account = {
                   accessCode: accessCode,
                   secretCode: secretCode
               }
               $.ajax({
                   url: "/account",
                   type: "POST",
                   data: JSON.stringify(account),
                   contentType: "application/json",
                   dataType: "json",
                   success: function (result) {

                	   if(result.error && result.error.name === 'invalid_access_key'){

                	   	 alert('실패했습니다. 유효하지 않은 접근 키')
						 return false;
                	   }


                       $.each(result,function(i,item){
                           var row = $('<tr>');
                           var td1 = $('<td class="center">').text(item.currency);
                           row.append(td1);
                           var td2 = $('<td class="center">').text(item.balance);
                           row.append(td2);
                           tbody.append(row);

                           }

                       )

                   }


                   })
               })

        var a = $('#access').val();
        var b = $('#secret').val();
        if(a !='' && b != ''){
            accountGet();
        }

        function refreshTable(account2) {
            tbody.empty();
            $.each(account2, function (i, item) {
                var row = $('<tr>');
                var td1 = $('<td class="center">').text(item.currency);
                row.append(td1);
                var td2 = $('<td class="center">').text(item.balance);
                row.append(td2);
                tbody.append(row);
            })

       }




       $('#accountSaveBtn').on('click',function(){

		   var id = '[[${user}]]'
    	   var accessCode = $('#access').val();
    	   var secretCode = $('#secret').val();

            var member = {
				id : id,
            	accessCode : accessCode,
            	secretCode : secretCode

            }




			$.ajax({
				url:"/saveCode",
				type:"post",
				data:JSON.stringify(member),
				dataType:"json",
				contentType:"application/json",
				success: function(result){

					if(result){
						alert('저장 성공!!')
					}else{
						alert('저장 실패!!')
					}
				}


			})
       })

       $.ajax({
			url:"/market",
			type:"Get",
			dataType:"json",
			contentType:"application/json",
			success: function(result){

				console.log(result);

			}
       })


         $.ajax({
			url:"/currentPrice",
			type:"Get",
			dataType:"json",
			contentType:"application/json",
			success: function(result){

				console.log(result);

			}
       })


    </script>

</body>
</html>